@font-face {
    font-family: Minecraft;
    src: url(../Minecraft.ttf);
}
body {
    background-image: url(../img/bg.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    user-select: none; 
}
a {
    text-decoration: none !important;
}
.carousel {
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
}
.table {
    width: 350px;
    height: 550px;
    background-image: url(../img/table.png);
    background-repeat: no-repeat;
}
.table img {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    image-rendering: pixelated;
}
.carousel {
    width: 350px;
    height: 550px;
}
.urldisabled  p {
    color: rgb(58, 58, 58);
}
.text {
    color: black;
    font-family: Minecraft;
    font-size: 20px;
    padding-left: 26px;
    padding-right: 26px;
}
.logo {
    text-align: center;
    margin-top: 20px;
}
.logo img {
    border-radius: 500px;
    width: 150px;
    image-rendering: pixelated;
}

.scroll {
    display: none;
    position: fixed;
    z-index: 1001;
    height: 792px;
    width: 400px;
    background-color: rgb(255, 255, 255);
    right: 550px;
    bottom: 2px;
    opacity: 0%;
}

.infobtn svg {
    margin-top: 12px;
}

.closebtn {
    text-align: right;
}
.infobtn {
    display: block;
    position: fixed;
    z-index: 1001;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    background-size: 45px;
    background-repeat: no-repeat;
    background-position: 50% 80%;
    box-shadow: 0 0 2px rgb(0 0 0 / 50%);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    right: 10px;
    bottom: 10px;
    text-align: center;
}

.center {
    text-align: center;
}

.date {
    font-size: 10px;
}

@media (max-width: 1px) {
    .infobtn {
      display: none;
    }
  }