.home-section {
    background-image: url(../img/rolebg.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    user-select: none; 
    overflow: hidden;
}

.textbox {
    background-color: white;
    /* margin-top: 50px; */
    position: relative;
    overflow: auto;
    height: 793px;
}

.textbox::-webkit-scrollbar {
    width: 0px;
}

.center {
    display: flex;
    justify-content: center;
    text-align: center;
}

.red {
    color: red
}

.black {
    color: black
}

.indent {
    padding-left: 5px;
}

.list-group {
    /* margin-top: 50px; */
}